﻿@{
    Layout = "~/Views/_MasterLayout.cshtml";
}



<div>
    Hello World (from the view)
    @ViewBag.Greeting World (from the view)
</div>

@section masterjs
{
    <script type="text/javascript" src="@Url.Content("/Scripts/indexmap.js")"></script>
}
