﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>@ViewBag.Title</title>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.2.1/css/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Uniform.js/2.1.2/themes/default/css/uniform.default.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE STYLES -->
    <link href="~/Content/admin/pages/css/tasks.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="~/Content/global/css/components-md.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="~/Content/global/css/plugins-md.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link id="style_color" href="~/Content/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<body class="page-md page-header-fixed page-quick-sidebar-over-content page-full-width">
    <!-- BEGIN HEADER -->
    <div class="page-header md-shadow-z-1-i navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="index.html">
                    <img src="~/Content/admin/layout/img/logo.png" alt="logo" class="logo-default" />
                </a>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN HORIZANTAL MENU -->
            <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
            <!-- DOC: This is desktop version of the horizontal menu. The mobile version is defined(duplicated) sidebar menu below. So the horizontal menu has 2 seperate versions -->
            <div class="hor-menu hidden-sm hidden-xs">
                <ul class="nav navbar-nav">
                    <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the horizontal opening on mouse hover -->
                    <li class="classic-menu-dropdown active">
                        <a href="index.html">
                            Dashboard <span class="selected">
                            </span>
                        </a>
                    </li>
                    <li class="mega-menu-dropdown">
                        <a data-toggle="dropdown" href="javascript:;" class="dropdown-toggle" data-hover="megamenu-dropdown" data-close-others="true">
                            Mega <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu" style="min-width: 700px;">
                            <li>
                                <!-- Content container to add padding -->
                                <div class="mega-menu-content">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <ul class="mega-menu-submenu">
                                                <li>
                                                    <h3>Layouts</h3>
                                                </li>
                                                <li>
                                                    <a href="index_horizontal_menu.html">
                                                        Dashboard & Mega Menu
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="layout_horizontal_sidebar_menu.html">
                                                        Horizontal & Sidebar Menu
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="layout_fontawesome_icons.html">
                                                        Layout with Fontawesome
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="layout_glyphicons.html">
                                                        Layout with Glyphicon
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="layout_full_height_portlet.html">
                                                        Full Height Portlet <span class="badge badge-roundless badge-danger">new</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="layout_full_height_content.html">
                                                        Full Height Content <span class="badge badge-roundless badge-warning">new</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="layout_horizontal_menu1.html">
                                                        Horizontal Mega Menu 1
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <ul class="mega-menu-submenu">
                                                <li>
                                                    <h3>More Layouts</h3>
                                                </li>
                                                <li>
                                                    <a href="layout_horizontal_menu2.html">
                                                        Horizontal Mega Menu 2
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="layout_search_on_header1.html">
                                                        Search Box On Header 1
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="layout_search_on_header2.html">
                                                        Search Box On Header 2
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="layout_sidebar_search_option1.html">
                                                        Sidebar Search Option 1
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="layout_sidebar_search_option2.html">
                                                        Sidebar Search Option 2
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="layout_sidebar_reversed.html">
                                                        Right Sidebar Page
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="layout_sidebar_fixed.html">
                                                        Sidebar Fixed Page
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <ul class="mega-menu-submenu">
                                                <li>
                                                    <h3>Even More!</h3>
                                                </li>
                                                <li>
                                                    <a href="layout_sidebar_closed.html">
                                                        Sidebar Closed Page
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="layout_ajax.html">
                                                        Content Loading via Ajax
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="layout_disabled_menu.html">
                                                        Disabled Menu Links
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="layout_blank_page.html">
                                                        Blank Page
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="layout_boxed_page.html">
                                                        Boxed Page
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="layout_language_bar.html">
                                                        Language Switch Bar
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="mega-menu-dropdown mega-menu-full">
                        <a data-toggle="dropdown" href="javascript:;" class="dropdown-toggle" data-hover="megamenu-dropdown" data-close-others="true">
                            Full Mega <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <!-- Content container to add padding -->
                                <div class="mega-menu-content ">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <ul class="mega-menu-submenu">
                                                        <li>
                                                            <h3>Layouts</h3>
                                                        </li>
                                                        <li>
                                                            <a href="index_horizontal_menu.html">
                                                                <i class="fa fa-angle-right"></i> Dashboard & Mega Menu
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="layout_horizontal_sidebar_menu.html">
                                                                <i class="fa fa-angle-right"></i> Horizontal & Sidebar Menu
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="layout_fontawesome_icons.html">
                                                                <i class="fa fa-angle-right"></i> Layout with Fontawesome
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="layout_glyphicons.html">
                                                                <i class="fa fa-angle-right"></i> Layout with Glyphicon
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="layout_full_height_portlet.html">
                                                                <i class="fa fa-angle-right"></i> Full Height Portlet <span class="badge badge-roundless badge-danger">new</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="layout_full_height_content.html">
                                                                <i class="fa fa-angle-right"></i> Full Height Content <span class="badge badge-roundless badge-warning">new</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="layout_horizontal_menu1.html">
                                                                <i class="fa fa-angle-right"></i> Horizontal Mega Menu 1
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-4">
                                                    <ul class="mega-menu-submenu">
                                                        <li>
                                                            <h3>More Layouts</h3>
                                                        </li>
                                                        <li>
                                                            <a href="layout_horizontal_menu2.html">
                                                                <i class="fa fa-angle-right"></i> Horizontal Mega Menu 2
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="layout_search_on_header1.html">
                                                                <i class="fa fa-angle-right"></i> Search Box On Header 1
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="layout_search_on_header2.html">
                                                                <i class="fa fa-angle-right"></i> Search Box On Header 2
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="layout_sidebar_search_option1.html">
                                                                <i class="fa fa-angle-right"></i> Sidebar Search Option 1
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="layout_sidebar_search_option2.html">
                                                                <i class="fa fa-angle-right"></i> Sidebar Search Option 2
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="layout_sidebar_reversed.html">
                                                                <i class="fa fa-angle-right"></i> Right Sidebar Page
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="layout_sidebar_fixed.html">
                                                                <i class="fa fa-angle-right"></i> Sidebar Fixed Page
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-4">
                                                    <ul class="mega-menu-submenu">
                                                        <li>
                                                            <h3>Even More!</h3>
                                                        </li>
                                                        <li>
                                                            <a href="layout_sidebar_closed.html">
                                                                <i class="fa fa-angle-right"></i> Sidebar Closed Page
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="layout_ajax.html">
                                                                <i class="fa fa-angle-right"></i> Content Loading via Ajax
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="layout_disabled_menu.html">
                                                                <i class="fa fa-angle-right"></i> Disabled Menu Links
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="layout_blank_page.html">
                                                                <i class="fa fa-angle-right"></i> Blank Page
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="layout_boxed_page.html">
                                                                <i class="fa fa-angle-right"></i> Boxed Page
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="layout_language_bar.html">
                                                                <i class="fa fa-angle-right"></i> Language Switch Bar
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div id="accordion" class="panel-group">
                                                <div class="panel panel-success">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed">
                                                                Mega Menu Info #1
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseOne" class="panel-collapse in">
                                                        <div class="panel-body">
                                                            Metronic Mega Menu Works for fixed and responsive layout and has the facility to include (almost) any Bootstrap elements.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-danger">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
                                                                Mega Menu Info #2
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseTwo" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            Metronic Mega Menu Works for fixed and responsive layout and has the facility to include (almost) any Bootstrap elements.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel panel-info">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                                                Mega Menu Info #3
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseThree" class="panel-collapse collapse">
                                                        <div class="panel-body">
                                                            Metronic Mega Menu Works for fixed and responsive layout and has the facility to include (almost) any Bootstrap elements.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="classic-menu-dropdown">
                        <a data-toggle="dropdown" href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true">
                            Classic <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-bookmark-o"></i> Section 1
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-user"></i> Section 2
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-puzzle-piece"></i> Section 3
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-gift"></i> Section 4
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-table"></i> Section 5
                                </a>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="javascript:;">
                                    <i class="fa fa-envelope-o"></i> More options
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="javascript:;">
                                            Second level link
                                        </a>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a href="javascript:;">
                                            More options
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="index.html">
                                                    Third level link
                                                </a>
                                            </li>
                                            <li>
                                                <a href="index.html">
                                                    Third level link
                                                </a>
                                            </li>
                                            <li>
                                                <a href="index.html">
                                                    Third level link
                                                </a>
                                            </li>
                                            <li>
                                                <a href="index.html">
                                                    Third level link
                                                </a>
                                            </li>
                                            <li>
                                                <a href="index.html">
                                                    Third level link
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="index.html">
                                            Second level link
                                        </a>
                                    </li>
                                    <li>
                                        <a href="index.html">
                                            Second level link
                                        </a>
                                    </li>
                                    <li>
                                        <a href="index.html">
                                            Second level link
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- END HORIZANTAL MENU -->
            <!-- BEGIN HEADER SEARCH BOX -->
            <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
            <form class="search-form" action="extra_search.html" method="GET">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search..." name="query">
                    <span class="input-group-btn">
                        <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
                    </span>
                </div>
            </form>
            <!-- END HEADER SEARCH BOX -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <!-- BEGIN NOTIFICATION DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="icon-bell"></i>
                            <span class="badge badge-default">
                                7
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="external">
                                <h3><span class="bold">12 pending</span> notifications</h3>
                                <a href="extra_profile.html">view all</a>
                            </li>
                            <li>
                                <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
                                    <li>
                                        <a href="javascript:;">
                                            <span class="time">just now</span>
                                            <span class="details">
                                                <span class="label label-sm label-icon label-success">
                                                    <i class="fa fa-plus"></i>
                                                </span>
                                                New user registered.
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="time">3 mins</span>
                                            <span class="details">
                                                <span class="label label-sm label-icon label-danger">
                                                    <i class="fa fa-bolt"></i>
                                                </span>
                                                Server #12 overloaded.
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="time">10 mins</span>
                                            <span class="details">
                                                <span class="label label-sm label-icon label-warning">
                                                    <i class="fa fa-bell-o"></i>
                                                </span>
                                                Server #2 not responding.
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="time">14 hrs</span>
                                            <span class="details">
                                                <span class="label label-sm label-icon label-info">
                                                    <i class="fa fa-bullhorn"></i>
                                                </span>
                                                Application error.
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="time">2 days</span>
                                            <span class="details">
                                                <span class="label label-sm label-icon label-danger">
                                                    <i class="fa fa-bolt"></i>
                                                </span>
                                                Database overloaded 68%.
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="time">3 days</span>
                                            <span class="details">
                                                <span class="label label-sm label-icon label-danger">
                                                    <i class="fa fa-bolt"></i>
                                                </span>
                                                A user IP blocked.
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="time">4 days</span>
                                            <span class="details">
                                                <span class="label label-sm label-icon label-warning">
                                                    <i class="fa fa-bell-o"></i>
                                                </span>
                                                Storage Server #4 not responding dfdfdfd.
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="time">5 days</span>
                                            <span class="details">
                                                <span class="label label-sm label-icon label-info">
                                                    <i class="fa fa-bullhorn"></i>
                                                </span>
                                                System Error.
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="time">9 days</span>
                                            <span class="details">
                                                <span class="label label-sm label-icon label-danger">
                                                    <i class="fa fa-bolt"></i>
                                                </span>
                                                Storage server failed.
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- END NOTIFICATION DROPDOWN -->
                    <!-- BEGIN INBOX DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_bar">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="icon-envelope-open"></i>
                            <span class="badge badge-default">
                                4
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="external">
                                <h3>You have <span class="bold">7 New</span> Messages</h3>
                                <a href="page_inbox.html">view all</a>
                            </li>
                            <li>
                                <ul class="dropdown-menu-list scroller" style="height: 275px;" data-handle-color="#637283">
                                    <li>
                                        <a href="inbox.html?a=view">
                                            <span class="photo">
                                                <img src="~/Content/admin/layout3/img/avatar2.jpg" class="img-circle" alt="">
                                            </span>
                                            <span class="subject">
                                                <span class="from">
                                                    Lisa Wong
                                                </span>
                                                <span class="time">Just Now </span>
                                            </span>
                                            <span class="message">
                                                Vivamus sed auctor nibh congue nibh. auctor nibh auctor nibh...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="inbox.html?a=view">
                                            <span class="photo">
                                                <img src="~/Content/admin/layout3/img/avatar3.jpg" class="img-circle" alt="">
                                            </span>
                                            <span class="subject">
                                                <span class="from">
                                                    Richard Doe
                                                </span>
                                                <span class="time">16 mins </span>
                                            </span>
                                            <span class="message">
                                                Vivamus sed congue nibh auctor nibh congue nibh. auctor nibh auctor nibh...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="inbox.html?a=view">
                                            <span class="photo">
                                                <img src="~/Content/admin/layout3/img/avatar1.jpg" class="img-circle" alt="">
                                            </span>
                                            <span class="subject">
                                                <span class="from">
                                                    Bob Nilson
                                                </span>
                                                <span class="time">2 hrs </span>
                                            </span>
                                            <span class="message">
                                                Vivamus sed nibh auctor nibh congue nibh. auctor nibh auctor nibh...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="inbox.html?a=view">
                                            <span class="photo">
                                                <img src="~/Content/admin/layout3/img/avatar2.jpg" class="img-circle" alt="">
                                            </span>
                                            <span class="subject">
                                                <span class="from">
                                                    Lisa Wong
                                                </span>
                                                <span class="time">40 mins </span>
                                            </span>
                                            <span class="message">
                                                Vivamus sed auctor 40% nibh congue nibh...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="inbox.html?a=view">
                                            <span class="photo">
                                                <img src="~/Content/admin/layout3/img/avatar3.jpg" class="img-circle" alt="">
                                            </span>
                                            <span class="subject">
                                                <span class="from">
                                                    Richard Doe
                                                </span>
                                                <span class="time">46 mins </span>
                                            </span>
                                            <span class="message">
                                                Vivamus sed congue nibh auctor nibh congue nibh. auctor nibh auctor nibh...
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- END INBOX DROPDOWN -->
                    <!-- BEGIN TODO DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-extended dropdown-tasks" id="header_task_bar">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="icon-calendar"></i>
                            <span class="badge badge-default">
                                3
                            </span>
                        </a>
                        <ul class="dropdown-menu extended tasks">
                            <li class="external">
                                <h3>You have <span class="bold">12 pending</span> tasks</h3>
                                <a href="page_todo.html">view all</a>
                            </li>
                            <li>
                                <ul class="dropdown-menu-list scroller" style="height: 275px;" data-handle-color="#637283">
                                    <li>
                                        <a href="javascript:;">
                                            <span class="task">
                                                <span class="desc">New release v1.2 </span>
                                                <span class="percent">30%</span>
                                            </span>
                                            <span class="progress">
                                                <span style="width: 40%;" class="progress-bar progress-bar-success" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"><span class="sr-only">40% Complete</span></span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="task">
                                                <span class="desc">Application deployment</span>
                                                <span class="percent">65%</span>
                                            </span>
                                            <span class="progress">
                                                <span style="width: 65%;" class="progress-bar progress-bar-danger" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"><span class="sr-only">65% Complete</span></span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="task">
                                                <span class="desc">Mobile app release</span>
                                                <span class="percent">98%</span>
                                            </span>
                                            <span class="progress">
                                                <span style="width: 98%;" class="progress-bar progress-bar-success" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"><span class="sr-only">98% Complete</span></span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="task">
                                                <span class="desc">Database migration</span>
                                                <span class="percent">10%</span>
                                            </span>
                                            <span class="progress">
                                                <span style="width: 10%;" class="progress-bar progress-bar-warning" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"><span class="sr-only">10% Complete</span></span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="task">
                                                <span class="desc">Web server upgrade</span>
                                                <span class="percent">58%</span>
                                            </span>
                                            <span class="progress">
                                                <span style="width: 58%;" class="progress-bar progress-bar-info" aria-valuenow="58" aria-valuemin="0" aria-valuemax="100"><span class="sr-only">58% Complete</span></span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="task">
                                                <span class="desc">Mobile development</span>
                                                <span class="percent">85%</span>
                                            </span>
                                            <span class="progress">
                                                <span style="width: 85%;" class="progress-bar progress-bar-success" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"><span class="sr-only">85% Complete</span></span>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="task">
                                                <span class="desc">New UI release</span>
                                                <span class="percent">38%</span>
                                            </span>
                                            <span class="progress progress-striped">
                                                <span style="width: 38%;" class="progress-bar progress-bar-important" aria-valuenow="18" aria-valuemin="0" aria-valuemax="100"><span class="sr-only">38% Complete</span></span>
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- END TODO DROPDOWN -->
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img alt="" class="img-circle" src="~/Content/admin/layout/img/avatar3_small.jpg" />
                            <span class="username username-hide-on-mobile">
                                Nick
                            </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="extra_profile.html">
                                    <i class="icon-user"></i> My Profile
                                </a>
                            </li>
                            <li>
                                <a href="page_calendar.html">
                                    <i class="icon-calendar"></i> My Calendar
                                </a>
                            </li>
                            <li>
                                <a href="inbox.html">
                                    <i class="icon-envelope-open"></i> My Inbox <span class="badge badge-danger">
                                        3
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="page_todo.html">
                                    <i class="icon-rocket"></i> My Tasks <span class="badge badge-success">
                                        7
                                    </span>
                                </a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="extra_lock.html">
                                    <i class="icon-lock"></i> Lock Screen
                                </a>
                            </li>
                            <li>
                                <a href="login.html">
                                    <i class="icon-key"></i> Log Out
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                    <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                    <li class="dropdown dropdown-quick-sidebar-toggler">
                        <a href="javascript:;" class="dropdown-toggle">
                            <i class="icon-logout"></i>
                        </a>
                    </li>
                    <!-- END QUICK SIDEBAR TOGGLER -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <div class="clearfix">
    </div>
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <!-- BEGIN HORIZONTAL RESPONSIVE MENU -->
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <div class="page-sidebar navbar-collapse collapse">
                <ul class="page-sidebar-menu page-sidebar-menu-light " data-slide-speed="200" data-auto-scroll="true">
                    <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
                    <!-- DOC: This is mobile version of the horizontal menu. The desktop version is defined(duplicated) in the header above -->
                    <li class="sidebar-search-wrapper">
                        <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                        <!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
                        <!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
                        <form class="sidebar-search sidebar-search-bordered" action="extra_search.html" method="POST">
                            <a href="javascript:;" class="remove">
                                <i class="icon-close"></i>
                            </a>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn submit"><i class="icon-magnifier"></i></button>
                                </span>
                            </div>
                        </form>
                        <!-- END RESPONSIVE QUICK SEARCH FORM -->
                    </li>
                    <li class="active">
                        <a href="index.html">
                            Dashboard <span class="selected">
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            Mega <span class="arrow">
                            </span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="javascript:;">
                                    Layouts <span class="arrow">
                                    </span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="active">
                                        <a href="layout_horizontal_sidebar_menu.html">
                                            Horizontal & Sidebar Menu
                                        </a>
                                    </li>
                                    <li>
                                        <a href="index_horizontal_menu.html">
                                            Dashboard & Mega Menu
                                        </a>
                                    </li>
                                    <li>
                                        <a href="layout_horizontal_menu1.html">
                                            Horizontal Mega Menu 1
                                        </a>
                                    </li>
                                    <li>
                                        <a href="layout_horizontal_menu2.html">
                                            Horizontal Mega Menu 2
                                        </a>
                                    </li>
                                    <li>
                                        <a href="layout_fontawesome_icons.html">
                                            <span class="badge badge-roundless badge-danger">new</span>Layout with Fontawesome Icons
                                        </a>
                                    </li>
                                    <li>
                                        <a href="layout_glyphicons.html">
                                            Layout with Glyphicon
                                        </a>
                                    </li>
                                    <li>
                                        <a href="layout_full_height_portlet.html">
                                            <span class="badge badge-roundless badge-success">new</span>Full Height Portlet
                                        </a>
                                    </li>
                                    <li>
                                        <a href="layout_full_height_content.html">
                                            <span class="badge badge-roundless badge-warning">new</span>Full Height Content
                                        </a>
                                    </li>
                                    <li>
                                        <a href="layout_search_on_header1.html">
                                            Search Box On Header 1
                                        </a>
                                    </li>
                                    <li>
                                        <a href="layout_search_on_header2.html">
                                            Search Box On Header 2
                                        </a>
                                    </li>
                                    <li>
                                        <a href="layout_sidebar_search_option1.html">
                                            Sidebar Search Option 1
                                        </a>
                                    </li>
                                    <li>
                                        <a href="layout_sidebar_search_option2.html">
                                            Sidebar Search Option 2
                                        </a>
                                    </li>
                                    <li>
                                        <a href="layout_sidebar_reversed.html">
                                            <span class="badge badge-roundless badge-warning">
                                                new
                                            </span>
                                            Right Sidebar Page
                                        </a>
                                    </li>
                                    <li>
                                        <a href="layout_sidebar_fixed.html">
                                            Sidebar Fixed Page
                                        </a>
                                    </li>
                                    <li>
                                        <a href="layout_sidebar_closed.html">
                                            Sidebar Closed Page
                                        </a>
                                    </li>
                                    <li>
                                        <a href="layout_ajax.html">
                                            Content Loading via Ajax
                                        </a>
                                    </li>
                                    <li>
                                        <a href="layout_disabled_menu.html">
                                            Disabled Menu Links
                                        </a>
                                    </li>
                                    <li>
                                        <a href="layout_blank_page.html">
                                            Blank Page
                                        </a>
                                    </li>
                                    <li>
                                        <a href="layout_boxed_page.html">
                                            Boxed Page
                                        </a>
                                    </li>
                                    <li>
                                        <a href="layout_language_bar.html">
                                            Language Switch Bar
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    More Layouts <span class="arrow">
                                    </span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="layout_sidebar_search_option1.html">
                                            Sidebar Search Option 1
                                        </a>
                                    </li>
                                    <li>
                                        <a href="layout_sidebar_search_option2.html">
                                            Sidebar Search Option 2
                                        </a>
                                    </li>
                                    <li>
                                        <a href="layout_sidebar_reversed.html">
                                            <span class="badge badge-roundless badge-success">
                                                new
                                            </span>
                                            Right Sidebar Page
                                        </a>
                                    </li>
                                    <li>
                                        <a href="layout_sidebar_fixed.html">
                                            Sidebar Fixed Page
                                        </a>
                                    </li>
                                    <li>
                                        <a href="layout_sidebar_closed.html">
                                            Sidebar Closed Page
                                        </a>
                                    </li>
                                    <li>
                                        <a href="layout_ajax.html">
                                            Content Loading via Ajax
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    Even More <span class="arrow">
                                    </span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="layout_disabled_menu.html">
                                            Disabled Menu Links
                                        </a>
                                    </li>
                                    <li>
                                        <a href="layout_blank_page.html">
                                            Blank Page
                                        </a>
                                    </li>
                                    <li>
                                        <a href="layout_boxed_page.html">
                                            Boxed Page
                                        </a>
                                    </li>
                                    <li>
                                        <a href="layout_language_bar.html">
                                            Language Switch Bar
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            Full Mega <span class="arrow">
                            </span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="javascript:;">
                                    Layouts <span class="arrow">
                                    </span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="index_horizontal_menu.html">
                                            Dashboard & Mega Menu
                                        </a>
                                    </li>
                                    <li>
                                        <a href="layout_horizontal_sidebar_menu.html">
                                            Horizontal & Sidebar Menu
                                        </a>
                                    </li>
                                    <li>
                                        <a href="layout_horizontal_menu1.html">
                                            Horizontal Mega Menu 1
                                        </a>
                                    </li>
                                    <li>
                                        <a href="layout_horizontal_menu2.html">
                                            Horizontal Mega Menu 2
                                        </a>
                                    </li>
                                    <li>
                                        <a href="layout_search_on_header1.html">
                                            Search Box On Header 1
                                        </a>
                                    </li>
                                    <li>
                                        <a href="layout_search_on_header2.html">
                                            Search Box On Header 2
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    More Layouts <span class="arrow">
                                    </span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="layout_sidebar_search_option1.html">
                                            Sidebar Search Option 1
                                        </a>
                                    </li>
                                    <li>
                                        <a href="layout_sidebar_search_option2.html">
                                            Sidebar Search Option 2
                                        </a>
                                    </li>
                                    <li>
                                        <a href="layout_sidebar_reversed.html">
                                            <span class="badge badge-roundless badge-success">
                                                new
                                            </span>
                                            Right Sidebar Page
                                        </a>
                                    </li>
                                    <li>
                                        <a href="layout_sidebar_fixed.html">
                                            Sidebar Fixed Page
                                        </a>
                                    </li>
                                    <li>
                                        <a href="layout_sidebar_closed.html">
                                            Sidebar Closed Page
                                        </a>
                                    </li>
                                    <li>
                                        <a href="layout_ajax.html">
                                            Content Loading via Ajax
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    Even More <span class="arrow">
                                    </span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="layout_disabled_menu.html">
                                            Disabled Menu Links
                                        </a>
                                    </li>
                                    <li>
                                        <a href="layout_blank_page.html">
                                            Blank Page
                                        </a>
                                    </li>
                                    <li>
                                        <a href="layout_boxed_page.html">
                                            Boxed Page
                                        </a>
                                    </li>
                                    <li>
                                        <a href="layout_language_bar.html">
                                            Language Switch Bar
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    Accordions <span class="arrow">
                                    </span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <div id="accordion2" class="panel-group mega-menu-responsive-content">
                                            <div class="panel panel-success">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2" class="collapsed">
                                                            Mega Menu Info #1
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseOne2" class="panel-collapse in">
                                                    <div class="panel-body">
                                                        Metronic Mega Menu Works for fixed and responsive layout and has the facility to include (almost) any Bootstrap elements.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-danger">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo2" class="collapsed">
                                                            Mega Menu Info #2
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseTwo2" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        Metronic Mega Menu Works for fixed and responsive layout and has the facility to include (almost) any Bootstrap elements.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-info">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapseThree2">
                                                            Mega Menu Info #3
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseThree2" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        Metronic Mega Menu Works for fixed and responsive layout and has the facility to include (almost) any Bootstrap elements.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a>
                            Classic <span class="arrow">
                            </span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-bookmark-o"></i> Section 1
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-user"></i> Section 2
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-puzzle-piece"></i> Section 3
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-gift"></i> Section 4
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-table"></i> Section 5
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-envelope-o"></i> More options <span class="arrow">
                                    </span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="javascript:;">
                                            Second level link
                                        </a>
                                    </li>
                                    <li class="sub-menu">
                                        <a href="javascript:;">
                                            More options <span class="arrow">
                                            </span>
                                        </a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="index.html">
                                                    Third level link
                                                </a>
                                            </li>
                                            <li>
                                                <a href="index.html">
                                                    Third level link
                                                </a>
                                            </li>
                                            <li>
                                                <a href="index.html">
                                                    Third level link
                                                </a>
                                            </li>
                                            <li>
                                                <a href="index.html">
                                                    Third level link
                                                </a>
                                            </li>
                                            <li>
                                                <a href="index.html">
                                                    Third level link
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="index.html">
                                            Second level link
                                        </a>
                                    </li>
                                    <li>
                                        <a href="index.html">
                                            Second level link
                                        </a>
                                    </li>
                                    <li>
                                        <a href="index.html">
                                            Second level link
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- END HORIZONTAL RESPONSIVE MENU -->
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            @RenderBody()
        </div>
    </div>
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="page-footer-inner">
            2014 &copy; Metronic by keenthemes. <a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" title="Purchase Metronic just for 27$ and get lifetime updates for free" target="_blank">Purchase Metronic!</a>
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <!-- END FOOTER -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.2.1/jquery-migrate.min.js" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-hover-dropdown/2.0.10/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.2/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.66.0-2013.10.09/jquery.blockUI.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.3.1/jquery.cookie.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Uniform.js/2.1.2/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/Scripts/metronic.js" type="text/javascript"></script>
    <script src="~/Content/admin/layout/scripts/layout.js" type="text/javascript"></script>
    <script src="~/Content/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
    <script src="~/Content/admin/layout/scripts/demo.js" type="text/javascript"></script>
    <script src="~/Content/admin/pages/scripts/index.js" type="text/javascript"></script>
    <script src="~/Content/admin/pages/scripts/tasks.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            QuickSidebar.init(); // init quick sidebar
            Demo.init(); // init demo features // initlayout and core plugins
            Index.init();
            Tasks.initDashboardWidget();
        });
    </script>
</body>
</html>